
#header{
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(56, 57, 61);
}
#search-button{
    background-color: blue;
    color: white;
}
/* #uv-index{
    background-color: red;
} */